@import "../variables";

.views-field-picture {
  img {
      border-radius: 50%;
  }
}

.views-row {
  padding: 5px;
  transition: background .3s ease;


  @include max-width($break-small) {
    clear: both;
    span.views-label {
      float: left;
      margin-right: 5px;
    }
  }


}

.palette-dark {

  //views pager
  nav.pager {

    @include max-width($break-small) {
      padding: 5px;

      ul.pager__items {
        padding: unset;

        > li {

          > a {
            padding: 8px;
          }

          &.is-active,
          &:hover,
          &:active {
            background: #666;
            box-shadow: inset 0px 0px 8px #000;
          }

        }

        .pager__item--ellipsis,
        .pager__item--first,
        .pager__item--previous,
        .pager__item--next,
        .pager__item--last {
          @include max-width($break-small) {
            display: none;
          }
        }
      }
    }
  }

  .view-header {
    color: $light;
  }

  //zerba striping
  .views-row {
    &:nth-of-type(odd) {
      background: #666;
    }
    &:nth-of-type(even) {
      background: #444;
    }
    &:after {
      //clearfix
      content: "";
      display: table;
      clear: both;
    }

    &:active,
    &:hover {
      background: $dark;
    }
  }
}


.palette-light {
  //views pager
  nav.pager {

    @include max-width($break-small) {
      padding: 5px;

      ul.pager__items {
        padding: unset;

        > li {

          > a {
            padding: 8px;
          }

          &.is-active,
          &:hover,
          &:active {
            background: $light-grey;
            box-shadow: inset 0px 0px 8px #ccc;
          }

        }

        .pager__item--ellipsis,
        .pager__item--first,
        .pager__item--previous,
        .pager__item--next,
        .pager__item--last {
          @include max-width($break-small) {
            display: none;
          }
        }
      }
    }
  }
  .views-row {
    &:nth-of-type(odd) {
      background: $lighter-grey;
    }
    &:nth-of-type(even) {
      background: $light;
    }
    &:after {
      //clearfix
      content: "";
      display: table;
      clear: both;
    }

    &:active,
    &:hover {
      // background: $dark;
    }
  }
}

.view-header {
  padding: 5px;
}
//compact user images
.view-manage-users {

  .image-style-user-pic {
    @include userPic(125px);
  }

  .user-block {
    box-shadow: 2px 2px 2px #ccc;
    height: 275px;
    width: 200px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    transition: .3s;

    &:hover {
      cursor: pointer;
    }

    div {
      text-align: center;
    }
    .views-field-access,
    .views-field-created {
      font-size: .9em;
      color: $grey;
      font-style: italic;
      margin: 5px 0px;
    }
  }
}

//float delete on mobile view
.view-project-contacts {
    &.view-display-id-block_3 {
      .views-field-paragraph-delete-item {
        float: right;
      }
    }
}
