@import "../variables";

//main comment styles
article.comment {

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  footer {

      width: 5%;

      &.comment__meta {
        .field--name-user-picture {
          @include userPicCircled();
          background-color: #fff;
        }
    }
  }

  .content {
    @extend %comment-bg;
  }

  ul.links li:first-child {
    padding: 0;
  }

  p.comment__submitted {
    @extend %submitted;
  }

}

.ajax-comments-form-reply {
    width: 70%;
    /* height: 200px; */
    margin-left: 10%;

    .text-format-wrapper {
      label {
        display: none;
      }
    }
}

//reply comment
.indented .comment .content {
    background: #fafbfd;
    border-radius: 0;

}

//Comments
//hide formats and description on comment form
[data-drupal-selector="edit-comment-body-0-format"] {
  display: none;
}

h2.comment-form__title {
    display: none;
}

.comment-comment-form {
    margin-left: 75px;
    max-width: 85%;
}

.comment-desc {
    display: inline-block;
    float: right;
    color: $grey;
}
