@import "../variables";

//main comment styles
article.comment {

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  footer {

      width: 5%;

      &.comment__meta {
        .field--name-user-picture {
          @include userPicCircled();
          background-color: #fff;
          @include max-width($break-small) {
            img {
              width: 45px;
              height: 45px;
            }
          }
        }

        article.profile {
          @include max-width($break-small) {
            position: relative;
            left: -20px;
            top: 40px;
          }
        }

      }
    }

  .content {
    @extend %comment-bg;
  }

  ul.links li:first-child {
    padding: 0;
  }

  p.comment__submitted {
    @extend %submitted;
  }

}

.palette-dark {
  article.comment {
    footer {
      &.comment__meta {
        .field--name-user-picture {
          background-color: $dark-grey;
        }
      }
    }
  }
  .comment-desc {
    color: $light-grey;
  }
  .field--name-comment-body {
    p {
      color: $dark;
    }
  }
}
.palette-light {
  .comment-desc {
    color: $grey;
  }
}

.ajax-comments-form-reply {
    width: 70%;
    /* height: 200px; */
    margin-left: 10%;

    .text-format-wrapper {
      label {
        display: none;
      }
    }
}

//reply comment
.indented .comment .content {
    background: #fafbfd;
    border-radius: 0;

}

//Comments
//hide formats and description on comment form
[data-drupal-selector="edit-comment-body-0-format"] {
  display: none;
}

h2.comment-form__title {
    display: none;
}

.comment-comment-form {
    @include min-width($break-small) {
      margin-left: 75px;
      max-width: 85%;
    }
}

.comment-desc {
    display: inline-block;
    float: right;
    @include max-width($break-small) {
      display: none;
    }
}
