@import "../variables";

/*
Generic Styling, for Desktops/Laptops
*/
table {
  width: 100%;
  border-collapse: collapse;
  transition: .5s;

  .form-item,
  .form-actions {
    margin: 0;
  }

  caption {
    font-size: 20px;
    padding: 5px 5px 10px 5px;
    text-align: left;
  }

  tbody {
    tr {

      &.disabled-yes,
      &.disabled-Yes {
        @include disabled();
      }

      // &:hover {
      //   td.is-active {
      //     transition: unset;
      //     background-color: unset;
      //   }
      //   background-color: #dedddd !important;
      //
      // }
      td {
        &.views-field-created {
          min-width: 100px;
        }
      }
    }
  }

  td.is-active {
    // background-color: $light;
    background-color: unset;
  }

}

/* Zebra striping */
.palette-light {
  th {
    background: $light;
    border-bottom: 4px solid $light-grey;

  }
  tbody {
    tr:nth-of-type(odd) {
      background: $lighter-grey;
    }
    tr:nth-of-type(even) {
      background: $light;
    }
  }
}

.palette-dark {
  table {
    color: $light;
  }
  th {
    background: $dark-grey;
  }
  tbody {
    tr:nth-of-type(odd) {
      background: #666;
    }
    tr:nth-of-type(even) {
      background: #444;
    }
  }
}

th {
  padding: 8px 5px;
  text-align: left;
}
td {
  padding: 6px;
  // border-top: 1px solid $light-grey;
  // border-bottom: 1px solid $light-grey;
  text-align: left;

  input[type=text],
  input[type=password],
  input[type=number],
  select, textarea {
    max-width: 140px;
    width: 100%;
    @include min-width($break-medium) {
      padding: 0;
    }
  }
  input[type=date] {
    max-width: 150px;
    width: 100%;
    padding: 0;
  }
  h4.label {
    display: none;
  }

}
