@import "../variables";

/*
Generic Styling, for Desktops/Laptops
*/
table {
  width: 100%;
  border-collapse: collapse;
  transition: .5s;

  .form-item,
  .form-actions {
    margin: 0;
  }

  caption {
    font-size: 20px;
    padding: 5px 5px 10px 5px;
    text-align: left;
  }

  tr {
    &.disabled-yes,
    &.disabled-Yes {
      @include disabled();
    }
  }

}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: $lighter-grey;
}
th {
  background: $light;
  color: $dark;
  font-weight: bold;
}
th {
  padding: 6px;
  border-bottom: 4px solid $light-grey;
  text-align: left;
}
td {
  padding: 6px;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  text-align: left;

  input[type=text],
  input[type=password],
  input[type=number],
  select, textarea {
    max-width: 140px;
    width: 100%;
    padding: 0;
  }
  input[type=date] {
    max-width: 150px;
    width: 100%;
    padding: 0;
  }
  h4.label {
    display: none;
  }

}
