/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#project-map-container iframe {
  height: 100%;
  width: 100%;
}
#map {
  position: unset !important;
  overflow: unset !important;
}
.project-map-info-popup strong,
.project-map-info-popup text {
  line-height: 1.5em;
  padding: 0 5px;
  color: #000;
}
