@import "../variables";

.tooltip,
.qtip-titlebar,
.qtip-content {
  cursor: default;
}

.tooltip-content,
.tooltip-title {
  display: none;
}

.inline > div {
    display: inline-block;
}

ul.basic-list {
  list-style-type: none;
  li {
    padding: 5px;
    margin: 5px;
  }
}
