@import "../variables.scss";


.dashboard {
    article {

        div.dashboard-block {
          opacity: 0;

          @include max-width($break-small) {
            margin: 0 0 10px 0;
          }
          @include min-width($break-medium) {
            margin: 15px;
            overflow: hidden;
            border-radius: 7px;
          }
          box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.07);

          .dashboard-block-title {
            padding: 8px;
            font-size: 18px;
            font-weight: 500;
          }

          //specific view related styles for dashboard
          .view-dashboard-comment-messages {
            .views-field-field-tag-user-to-1 .field--name-user-picture {
              @include userPicCircled();
              img {
                height: 50px;
                width: 50px;
              }
            }
          }

          .view-dashboard-comment-messages.view-display-id-block_2 .views-field-field-tag-user-to-1 {
              float: left;
              margin-right: 5px;
          }
          .view-dashboard-comment-messages.view-display-id-block_2 .views-field-created {
              float: right;
              font-size: .9em;
          }

          .view-dashboard-recently-worked-with.view-display-id-block_2 {
            .views-field-type {
              float: right;
            }
          }

      }
    }
}
.palette-dark {

  div.dashboard-block {
    background: $dark-grey;

    .dashboard-block-title {
        background: rgba(0,0,0,.9);
        color: #fff;
    }
  }

  .fancy-date-date {
    background: $dark-grey;
  }
}

.palette-light {

  div.dashboard-block {
    .dashboard-block-title {
        background: $grey;
        color: $light;
    }
  }
}

.palette-dark {
  .popup-filter-icon {
    svg {
      fill: $grey;
    }
  }
}

.popup-filter-icon {
  cursor: pointer;
  float: right;

  &.filter-expanded {
    svg {
      fill: $purple;
    }
  }

  svg {
    fill: $dark;
    transition: all .5s ease;

    &:hover {
      fill: $purple;
    }
  }
}


//fancy date
.fancy-date {
  padding: 10px 0px;
}
.fancy-date-date {
    text-align: center;
    float: left;
    min-width: 70px;
    min-height: 70px;
    width: 10%;
    margin: 5px 15px 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px $grey;

    .fancy-date-part-month {
      background: $orange;
      border-radius: 5px 5px 0 0;
      color: $light;
    }
    .fancy-date-part-date {
      font-size: 1.25em;
    }
    .fancy-date-part-day {
      color:$orange;
    }

}

.layout--twocol > .layout__region--first,
.layout--twocol > .layout__region--second {
  @include max-width($break-large){
    flex: 0 1 100% !important;
  }
}
