@import "../variables";

input[type=text],
input[type=password],
input[type=number],
input[type=date],
input[type=email],
select,
textarea {
  padding: 5px;
  border: 1px solid $light-grey;
  border-radius: 4px;
  resize: vertical;
  // width: 100%;
  // max-width: 300px;
}
input[type=search] {
  padding: 12px;
  border: 1px solid $light-grey;
  border-radius: 4px;
  resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: block;
}

input[type=submit] {
    background-color: $green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

input[type=submit]:hover {
    background-color: $dark-green;
}

//user login form
.user-login-container{
  opacity:0; //gsap fade in forms.js
}
.user-login-center {
    margin: 10vh auto;
    height: 45vh;
    border: 1px solid $light-grey;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px $light-grey;
}

.user-login-logo {
  margin-top: 50px;
}

//inline forms
.inline-pg-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    input[type=text],
    input[type=number],
    input[type=date] {
      vertical-align: middle;
      margin: 5px 10px 5px 0;
      width: 120px;
      height: 20px;
    }
    input[type=date] {
      width: 160px;
    }
    input[type=submit] {
      margin: 45px 0 0 0;
      padding: 5px 10px;
      font-weight: bold;
    }
    .field--name-revision-log {
      display: none;
    }
}

//stupid date label output is garbage
h4.label {
    font-weight: normal;
    position: relative;
    top: -13px;
}
div#edit-field-task-due-date-wrapper {
    margin-top: 23px;
}



//add item button
input[type=submit].add-pg-item {
    margin-top: 5px;
    padding: 5px 15px;
}


//management and views forms styles
.view-manage-service-tasks {

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  input#edit-actions-submit,
  input#edit-save-order {
    position: fixed;
    top: 40%;
    left: -10px;
    transition: .3s;
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.52);

    &:hover {
      left: -5px;
    }
  }
}
