@import "../variables.scss";

//some supporting homebox styling

.homebox-page {
  fieldset.block_buttons {
      position: absolute;
      // top: 260px; //set with js
      // left: 50%;
      z-index: 5;
      background: rgba(255, 255, 255, 0.96);
      border: none;
      box-shadow: 2px 2px 2px $grey;
      border-radius: 3px;
      padding: 20px 10px;
  }
  fieldset.block_buttons > div > input {
      display: block;
      margin: 5px 0;
  }
}
