@import "../variables";

#block-gary-local-tasks {
    text-align: right;
}

//profile page
.path-user {

  #block-views-block-my-messages-block-1 {
    > h3 {
      @extend %comments-icon;
    }
  }

  .view-my-messages {

    .views-row {
      @extend %comment-bg;
      clear: both;
      min-height: 100px;
      &:hover {
        cursor: pointer;
        transition: background-color .5s ease;
        background-color: $light-blue;
      }

    }
    .views-field-field-tag-user-by {
      float: left;
      margin-right: 15px;
      margin-top: auto;
    }
    .views-field-created span {
      @extend %submitted;
    }
  }
  article.profile {
    // width: 75%;
    // margin: 0 auto;
    .field--name-user-picture {
      @include userPicCircled();
    }
    .field:not(.field--name-user-picture), .form-item {
      margin: 15px;
    }
  }
}

.image-style-user-pic-small {
  @extend %user-pic;
}

//bundle label
.bundle-label {
  padding: 10px 25px;
  border-radius: 4px;
  position: relative;
  left: -20px;
  box-shadow: -5px 3px 5px rgba(96, 96, 96, 0.32);

  &.projects {
    background: linear-gradient($dark-green, $green);
  }
  &.opportunities {
    background: $light-orange;
  }
  &.accounts {
    background: $blue;
  }
  &.contacts {
    background: $light-green;
  }
  &.tasks {
    background: $light-blue;
  }
  &.sub_contractor {
    background: $purple;
  }

  > h2 {
    background-color: #000;
    color: transparent;
    text-shadow: 0px 2px 8px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin: auto 0;
  }
}

.tabs-container {
    align-self: stretch;
}

.last-modified p {
  margin: 0;
  color:$grey !important;
  font-style: italic;
  font-size: .9em;
}

.sticky-header {
  transition: .4s;
  background: linear-gradient(#48b799, #308770);
  transform: scale(.75) translate(-60px, -115px);
}

.palette-dark {
  .node__content {
    color: $light;
  }
}

.node__content {
    margin: 20px;

    @include max-width($break-small) {
      .field--name-field-permit-number .field__label {
          margin-right: 20%;
      }
    }

    > .field {
      padding: 10px;

      > .field__label {

      }

      > .field__items__multiple {
        display: inline-grid;

        > .field__item {

          > a  {
            @include highlight($lighter-blue);
            width: 100%;
            min-width: 160px;

            &:hover {
              color: unset;

            }

          }

        }
      }
    }

    .field--name-field-project-image {
        float: right;
        box-shadow: inset 0 0 10px 0 $light-grey;
        margin-bottom: 10px;
        > img {
          border-radius: 4px;
          max-width: 100%;
          height: auto;
        }

    }
}

.highlight-blue {
  a {
    @include highlight($lighter-blue);
    width: 90%;
    &:hover {
      color: unset;
    }
  }
}


@include palettedark {
  .ec-legend {
    &.contacts:before,
    &.projects:before,
    &.subcontractors:before,
    &.units:before,
    &.tasks:before,
    &.services:before,
    &.comments:before {
      background-color: $grey;
    }
  }
}

@include palettelight {
  .ec-legend {
    &.contacts:before,
    &.projects:before,
    &.subcontractors:before,
    &.units:before,
    &.tasks:before,
    &.services:before,
    &.comments:before {
      background-color:$dark-grey;
    }
  }
}

.ec-legend {

  h3 {
    display: inline-block;
    text-indent: 5px;
    font-weight: normal;
    font-size: 1.3em;
  }

  &.contacts {
    &:before {
      @extend %icon;
      mask-image: url(../../symbols/contacts.svg);
    }
  }

  &.projects {
    &:before {
      @extend %icon;
      mask-image: url(../../symbols/projects.svg);
    }
  }

  &.subcontractors {
    &:before {
      @extend %icon;
      mask-image: url(../../symbols/subcontractors.svg);
    }
  }

  &.units {
    &:before {
      @extend %icon;
      mask-image: url(../../symbols/units.svg);
    }
  }

  &.tasks {
    &:before {
      @extend %icon;
      mask-image: url(../../symbols/tasks.svg);
    }
  }

  &.services {
    &:before {
      @extend %icon;
      mask-image: url(../../symbols/services.svg);
    }
  }

  &.comments {
    &:before {
      @extend %icon;
      mask-image: url(../../symbols/comments.svg);
    }
  }
}

.proximity-map {
  height: 25px;
  width: 25px;
  position: absolute;
  margin-left: 10px;
}
.palette-dark {
  .proximity-map svg {
    fill: $light;
  }
}
.palette-light {
  .proximity-map svg {
    fill: $dark;
  }
}
@include min-width($break-large) {
  .node__content {
    .field {
      > .field__label {
        min-width: 175px;
        text-align: right;
      }
    }
  }
}
