@import "../variables";

#block-gary-local-tasks {
    text-align: right;
}

.bundle-label {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  top: -20px;
  left: -20px;
  box-shadow: -5px 3px 5px rgba(96, 96, 96, 0.32);

  &.projects {
    background: linear-gradient(#48b799, #308770);
  }
  &.opportunities {
    background: linear-gradient($light-orange, $orange);
  }
  &.accounts {
    background: linear-gradient(#48b799, #308770);
  }
  &.contacts {
    background: linear-gradient(#48b799, #308770);
  }

  > h2 {
    background-color: #000;
    color: transparent;
    text-shadow: 0px 2px 8px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin: 0;
  }
}

.node__content {
    margin: 20px;

    > .field {
      padding: 10px;

      > .field__label {
        min-width: 175px;
        text-align: right;
      }

      > .field__items__multiple {
        display: inline-grid;

        > .field__item {

          > a {
            background: $lighter-blue;
            padding: 10px;
            margin: 2px 0 2px 0;
            display: inline-block;
            width: 100%;
            height: 100%;

            &:hover {
              background: $hover-blue;
            }
          }

        }


      }

    }

    .field--name-field-project-image {
        float: right;
        box-shadow: inset 0 0 10px 0 $light-grey;

        > img {
          border-radius: 4px;
        }

    }
}
