@import "../variables";

.block-search {

  display: inline-flex;
  position: relative;
  left: 15%;
  width: 280px;
  height: 60px;

  input[type=search] {
    transition: .4s;
    width: 250px;

    &:focus,
    &:active,
    &:hover {
      // width: 300px;
      border: 2px solid $green;
    }

    &::placeholder {
      font-size: 14px;
      font-style: italic;
    }

  }

  div#edit-actions {
    visibility: hidden;
  }

  @include max-width($break-medium) {
    transform: translateX(0);
  }
  @include min-width($break-large) {
    // transform: translateX(-225px);
  }

  svg {
    display: none;
    width: 20px;
    height: 20px;
    fill: #000;
    -webkit-transition: fill .5s;
    transition: fill .5s;
  }

}
