@import "../variables";

.block-search {
  position: relative;
  width: 15%;
  height: 60px;
  transition: .3s;

  input[type=search] {
    transition: .4s;
    width: 100%;

    &:focus,
    &:active,
    &:hover {
      // width: 300px;
      border: 2px solid $green;
    }

    &::placeholder {
      font-size: 14px;
      font-style: italic;
    }

  }

  div[id^="edit-actions"] {
    visibility: hidden;
  }

  svg {
    display: none;
    width: 20px;
    height: 20px;
    fill: #000;
    -webkit-transition: fill .5s;
    transition: fill .5s;
  }

  @include min-width($break-large) {
    display: inline-flex;
  }
  @include min-width($break-xl) {
    left: 10%;
  }
  @include min-width(1540px) {
    left: 15%;
    width: 17%;
  }
  @include max-width($break-large) {
    width:20%;
  }
  @include max-width($break-medium) {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 40%;
  }





}
