@import url('https://fonts.googleapis.com/css?family=Quicksand');

$break-small: 600px;
$break-medium: 850px;
$break-large: 1175px;
$break-xl: 1400px;

@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content
  }
}

@mixin min-width($width) {
  @media screen and (min-width: $width) {
    @content
  }
}

@mixin userPic($d) {
  height: $d;
  width: $d;
  border-radius: 50%;
}

@mixin highlight($color) {
  background: $color;
  padding: 10px;
  margin: 2px 0 2px 0;
  display: inline-block;

  &:hover {
    background: $hover-blue;
  }

}

@mixin disabled() {
  background: $light-red;
}

@mixin trans() {
  transition: .3s;
}

$max-width: 1200px;
$max-width-alt: 700px;

$light: #fff;
$dark: #242424;

$light-grey: #ddd;
$lighter-grey: #eee;
$grey: #717d8c;

// $blue: #41aac4;
$dark-blue: #618e8d;
$blue: #8dcbca;
$light-blue: #dae9e4;

$lighter-blue: rgba(114, 189, 207, 0.22);
$hover-blue: rgba(114, 189, 207, 0.48);

// $green: #80ceb9;
$green: #4db89b;
$dark-green: #48b799;
$light-green: #8bc1b2;


$red: #e27676;
$light-red: #f7d9d9;
$dark-red: #d64d4d;
$brown: #bdb69c;

$purple: #c9a8cb;

$orange: #f88e58;
$light-orange: #ecc7bf;

$text: $brown;
$text-light: $light;

$base-font-size: 16px;
$block-spacing: 25px;
$copy-spacing: $base-font-size;


$font-primary: "Quicksand", sans-serif;
$font-secondary: "verveine", sans-serif;
%font-primary {
  font-family: $font-primary;
  font-weight: 400;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
%font-primary-semibold {
  font-family: $font-primary;
  font-weight: 600;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
%font-primary-bold {
  font-family: $font-primary;
  font-weight: 700;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
%font-secondary {
  font-family: $font-secondary;
  font-weight: 400;
  line-height: 1;
}

%h2 {
  @extend %font-primary-bold;
  font-size: 32px;
  line-height: 1.2;
}
%h2-handwriting {
  @extend %font-secondary;
  font-size: 40px;
  line-height: 1;
}
%h3 {
  @extend %font-secondary;
  font-size: 32px;
  line-height: 1;
}
%h3-plain {
  @extend %font-primary-bold;
  font-size: 26px;
  line-height: 1.2;
}
%h4 {
  @extend %font-primary-bold;
  font-size: 22px;
  line-height: 1.2;
}
%h4-handwriting {
  @extend %font-secondary;
  font-size: 26px;
  line-height: 1;
}

%menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

%menu-right {
  display: inline;
  position: absolute;
  top: 0;
  padding: 4px;
  transition: .2s;
  &.right1 {
    right: 80px;
  }
  &.right2 {
    right: 10px;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%inherit-fill {
  fill: inherit;
  g, path {
    fill: inherit;
  }
}

//keyframes
@keyframes rubberBand {
  from {
    transform: scale(1, 1, 1);

  }
  30% {
    transform: scale3d(1.15, 0.75, 1);

  }
  40% {
    transform: scale3d(0.75, 1.15, 1);

  }
  50% {
    transform: scale3d(1.10, 0.85, 1);

  }
  65% {
    transform: scale3d(.95, 1.05, 1);

  }
  75% {
    transform: scale3d(1.05, .95, 1);

  }
  to {
    transform: scale3d(1, 1, 1);

  }
}
