@import "../variables";

body, a {
  font-family: $font-primary;
}

a {
  color:$blue;
  text-decoration: none;
  &:hover {
    color: $red;
  }
  &.delete-pg-item {
    font-size: 20px;
  }
}
.layout-container {
  background: $light-grey;
}
