
@import "../variables";

main,
#before-content {
  width: 80%;
  margin-left: 10vw;
}
#before-content {
  padding: 5px;
}
main {
  min-height: 80vh;
  padding: 5px;
  box-shadow: 2px 2px 5px $dark;
  border-radius: 5px;

  .layout-content {
    padding:10px;
  }

}
.field--type-block-field {
    border: 2px solid $light-grey;
    margin: 5px;
    border-radius: 5px;
   .field__item {
      margin: 5px;
    }

    h3 {
      background: $light-blue;
      margin: 0;
      padding: 5px;
      border: 1px solid $light-grey;
      font-weight: normal;
    }
}

#content-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.freeze {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.switch-link-container {
  position: relative;
  left: calc(100% - 25px);
  top: 30px;
  z-index: 100;
  width: 50px;

  a {
    background-image:url(https://cdn3.iconfinder.com/data/icons/simplius-pack/512/pencil_and_paper-512.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    opacity: .3;
    transition: .3s;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";

    &:hover {
      opacity: 1;
    }
  }
}
