@import "../variables";

// -----------------------------------------------------------------------------
// Main Menu
// -----------------------------------------------------------------------------
// Logo block

#block-gary-branding {
  position: absolute;
  top: 0;
  left: 8px;
  @include min-width($break-large) {
    left: 4%;
  }

  transform-origin: top;
  transition: top .25s ease-out;
  z-index: 20;

  .site-logo:not(a) {
      height: 80px;
      width: 80px;
      background: $dark-grey;
      padding: 2px;
      border-radius: 50%;
      display: inline-block;
      svg#logo {

        circle.logo-border {
          stroke: #666;
        }

        &.animate-logo {
          animation: logo-inner-rotate 1.5s forwards;

          circle.logo-border {
            stroke: transparent;
          }
          circle.logo-border-draw {
            stroke: #666;
            animation: border-logo-fill 1.7s forwards;
          }

        }
      }
  }

  @keyframes border-logo-fill {
    to {
      stroke-dasharray: 306 300;
    }
  }
  @keyframes logo-inner-rotate {
    to {transform: rotate(1080deg)};
  }
  .site-name {
    @include min-width($break-xl) {
      visibility: visible;
      opacity: 100;
      float: right;
      padding:20px 0 0 5px;
      transition: .5s;
    }
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    a {
      font-size: 18px;
      color: $light;

      &.is-active,
      &:focus {
        color: $light;
      }

      &:hover,
      &:active {
        color: $blue;
      }
    }
  }

  img {
    transform: translateY(2px);
    height: 100px;
  }
}

#mobile-toggle {
  display: none;
  position: absolute;
  top: 18px;
  left: 30px;
  width: 35px;
  height: 35px;
  z-index: 20;
  cursor: pointer;

  > div {
    position: absolute;
    width: 33px;
    height: 3px;
    background-color: $brown;
    transform-origin: center center;
    transition: all .3s;
  }
  div.top {
    top: 10px;
  }
  div.bottom {
    top: 20px;
  }
}
#menu-wrap.expanded #mobile-toggle {
  div.top {
    top: 15px;
    transform: rotate(135deg);
  }
  div.bottom {
    top: 15px;
    transform: rotate(-135deg);
  }
}

#menu-wrap {
  // display: none !important;
  position: fixed;
  transform: matrix(1, 0, 0, 1, 0, -50);
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: flex-end;

  z-index: 10;

  &.stuck {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  .region-menu {
    width: 80%;
  }

  nav#block-gary-main-menu {
    display: inline-flex;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
    height: 100%;

    @include min-width($break-xl) {
      left: 10%;
    }
    @include min-width(1540px) {
      left: 15%;
    }
  }

  .round-menu {
    margin: 5px 0px 3px 3px;
    svg {
      transition: .3s;

        g {
          path {
            fill: rgba($blue,.4);
          }
        }

        &:hover {
          cursor: pointer;
          g path {
            transition: fill .5s ease;
            fill: rgba($green,.6);
          }
        }
    }

  }

  .right-menu {
    @extend %menu-right;
  }

  .right1 {
    @include max-width($break-small) {
      display: none;
    }
  }

  .user-info {
    &:hover {
      cursor: pointer;
      span.notifications {
        background: $dark-red;
      }
    }

    img {
      @include userPic(55px);
    }

    //comment messages notifications style
    span.notifications {
      display: none;
      font-size: 15px;
      line-height: 15px;
      font-weight: bold;
      background: $red;
      transition: .2s;
      color: $light;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      text-align: center;
      padding: 5px;
      position: absolute;
      top: 0;
      left: 5px;
    }

  }
  nav#block-gary-account-menu,
  nav#block-addcontent {
    position: absolute;
    top: 70px;
    right: 0;
    height: 0px;
    max-height: 630px;
    overflow: hidden;
    transition: height .3s ease-in;
    color:$light;

    &.user-nav-expanded {
      // height: 600px;
      height: auto;
    }

    &:hover {
      cursor: pointer;
    }

  > ul {
      list-style: none;
      display: inline;
      float: right;
      padding: 0;

    > li {
        // background: $dark;
        // transition: .2s;
        padding: 0;
      > a {
          height: 100%;
          width: 100%;
          padding: 20px 40px 20px 25px;
        }
      }
    }
  }

  ul.menu {  // Common menu
    @extend %menu;

    a {
      color: $light;
      text-decoration: none;

      // &.is-active,
      // &:focus {
      //   color: $blue;
      // }
    }
  }
  // Main level
  nav > ul.menu {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 20px 20px;
  }


  nav > ul.menu {
    > li {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 6px 0 6px 0;

      > a {
        font-size: 15px;
        line-height: 1;
        padding: 24px 20px;

      }

      &:hover ul.menu {
        display: block;
        opacity: 1;
      }
    }
  }


  // Sub menus
  $sub-width: 265px;
  ul.menu ul.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -$sub-width/2;
    padding: 8px 0;

    width: $sub-width;
    background-color: rgba(255, 255, 255, .65);
    opacity: 0;
    transition: opacity .3s;

    a {
      display: block;
      padding: 7px;

      font-size: 16px;
      line-height: 1.2;
      text-align: center;
    }
  }

  div.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .65);
    z-index: 1;
  }
}

//tabs menu
.block-local-tasks-block {

}
nav.tabs {
    margin-top: 5px;

    > ul {
      > li > a {
        padding: 15px;
        color: $dark;
        border-radius: 4px;
      }
    }
}

.palette-dark {
  nav.tabs {
      > ul.primary {
        > li {
          @include min-width($break-small){
            background-color: $light-grey;
          }
          a {
            @include max-width($break-small){
              color: $light-grey;
              &.is-active {
                background: unset;
                font-weight: bold;
              }
            }
            &:hover {
              color: $dark !important;
            }
          }
        }

      }
  }

}

// nav.pager > ul > li > a {
//   color: #fff;
//   &:hover,
//   &:active {
//     color: $blue;
//   }
// }

@include max-width($break-large) {
  #block-gary-branding {
    width: 100px;
    img {
      // transform: translateY(0px);
      // height: 115px;
    }
  }

  #block-gary-main-menu {
      left:-100px;
  }

  #menu-wrap {
    nav {
      // padding-right: 100px;
      > ul.menu > li {
        // padding: 10px 15px 10px 15px;
      }
    }
  }


}

@include max-width($break-medium) {
  #block-gary-branding {
    display: none;
  }
  #mobile-toggle {
    display: block;
  }
  #menu-wrap {
    top: 0;
    height: 67px;

    nav#block-gary-main-menu {
      display: none;
      position: absolute;
      top: -100vh;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 130px 35px 35px 35px;
      background-color: $dark-green;
      overflow-y: auto;

      > ul.menu {
        display: block;
        padding: 0;

        li {
          display: block; // No longer need to center and showing sub navs
          padding: 0;
          border-bottom: 1px solid #fff;
        }
        a {
          display: block;
          padding: 15px 35px;
          color: $light;
        }

        ul.menu {
          display: block;
          position: relative;
          top: auto;
          left: auto;
          padding: 0;
          margin: 0 0 0 35px;
          width: auto;

          opacity: 1;
          background-color: transparent;

          li {
            border-top: 1px solid transparentize(#fff, .6);
            border-bottom: none;
            a {
              display: block;
              padding-left: 35px;
              text-align: left;
            }
          }
        }
      }
    }

    div.bg {
      box-shadow: 0 0 3px rgba(0, 0, 0, .3);
      background-color: #fff;
      z-index: 10;
    }
  }
}

// AUTOCOMPLETE STYLES
.palette-light {
  ul.ui.menu.ui-autocomplete {
    > li {
      transition: .3s;
      border-bottom: 1px solid $light-grey;
      &:hover,
      &:active,
      &:focus {
        color: $light;
        background: $grey;
      }

      .ui-autocomplete-field-title {
        font-weight: bold;
      }

    }
  }
}
.palette-dark {
  ul.ui-menu.ui-autocomplete {
    > li {
      transition: .3s;
      border-bottom: 1px solid $light-grey;
      &:hover,
      &:active,
      &:focus {
        color: $light;
        background: $grey;
      }

      a {
        color: $dark;
      }

      .ui-autocomplete-field-title {
        font-weight: bold;
      }

    }
  }
}



// usnet stupid jquery.ui theme crap
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: unset;
    background: unset;
    font-weight: unset;
    color: unset;
  }
  //messages contification styles
  .messages-popup {
    background: rgba($dark, .9);
    color: $light-grey;
    border-radius: 3px;
  }
  .message {
    transition: background-color .2s ease;
    padding: 10px;
    min-height: 70px;
    margin: 0 auto;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.9);
      // color: $blue;
    }
    .message-from {
      float: left;
      margin: 15px 10px 10px 0px;
    }
    .message-content {
      font-style: italic;
      margin: 5px 0 5px 50px;
    }
    .message-body {
      margin: 5px 0 5px 50px;

    }
    .message-created {
      font-style:italic;
      margin: 5px 0;
    }
    img {
      @include userPic(40px);
    }
  }
