@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
.h-left {
  position: fixed;
  left: 200px;
}
.h-right {
  position: fixed;
  left: 600px;
}
body, title {
  max-width: 8.5in;
  margin: 0 auto;
  font-weight: 300;
  font-size: 12px;
}
.container {
  margin: 10px 10px;
}
.inline-block {
  display: inline-block !important;
}
.address {
  margin-left: 20px;
  width: 200px;
}
.logo {
  width: 125px;
}
.address p {
   margin: 0 0 1px 0;
}
span.label {
  font-weight: bold;
}
.table {
  border-spacing: 0;
  table-layout: fixed;
  width: 500px;
}
.table tr td {
  border: 1px solid #e0e0e0;
}
.table tr td:nth-child(1) {
  width: 125px;
}
.fees-table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-spacing: 0;
}
.fees-table tr td, .fees-table th {
  border: 1px solid #e0e0e0;
  text-align: left;
}
.pagebreak {
  page-break-before: always;
}
table.table-100 td.first {
  width: 40px;
}

table.table-100 {
  width: 100%;
  table-layout: fixed;
}
.margin-right-20 {
  margin-left: 100px;
}
.width-50 {
  width: 50%;
}
ol {
  counter-reset: item
}
li {
  display: block
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}
