{% if attributes.getIterator.jelly %}
  {% set jelly = attributes.getIterator.jelly.__toString %}
  <div class="jelly-button">
  {% if jelly == 'add' %}
    {% include ('@gary/../symbols/plus.svg') %}
    {% include ('@gary/../symbols/close.svg') %}
    {% include ('@gary/../symbols/border.svg') %}
  {% else %}
    {% include ('@gary/../symbols/arrow.svg') %}
    {% include ('@gary/../symbols/check.svg') %}
    {% include ('@gary/../symbols/border.svg') %}
  {% endif %}
  </div>

  <div class="hidden jelly-child-input">
    <input autocomplete="off"{{ attributes }} />{{ children }}
  </div>

{% else %}
  <input autocomplete="off"{{ attributes }} />{{ children }}
{% endif %}
